{% extends 'base.html' %}
{% block title %}Contact | {% endblock title %} 
{%block body %}
<form method="post" action="/contact">
    {% csrf_token %}
  <div class="container">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Name"
        name="name"
        />
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Email"
        name="email"
        />
        <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
        </div>
    </div>

    <div class="mb-3">
        <label for="Phone" class="form-label">Phone Number</label>
        <input
        type="number"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Phone no."
        name="ph"
        />
    </div>

    <div class="form-floating mb-3">
        <textarea class="form-control " placeholder="Message" id="desc" name="desc" style="height: 200px"></textarea>
        <label for="Desc">Descripton</label>
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{% endblock body %}
